In [ ]:
import pandas as pd

In [ ]:
data=pd.read_csv("https://www.dropbox.com/s/argivhofekhaoau/BusinessSales.csv?dl=1")

In [ ]:
data

,division,level of education,training level,work experience,salary,sales
0,peripherals,associate's degree,1,2,66790,193711
1,office supplies,high school,0,4,63143,200167
2,printers,associate's degree,0,6,86480,274258
3,computer software,associate's degree,2,5,103573,358491
4,computer hardware,some college,1,2,72166,216003
...,...,...,...,...,...,...
995,computer software,associate's degree,0,3,80539,179264
996,peripherals,associate's degree,2,7,91699,353306
997,computer hardware,associate's degree,0,6,92167,229316
998,office supplies,associate's degree,0,11,98525,385250
999,printers,some college,1,4,74691,265768

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   division            1000 non-null   object
 1   level of education  1000 non-null   object
 2   training level      1000 non-null   int64
 3   work experience     1000 non-null   int64
 4   salary              1000 non-null   int64
 5   sales               1000 non-null   int64
dtypes: int64(4), object(2)
memory usage: 47.0+ KB

In [ ]:
data.columns

Index(['division', 'level of education', 'training level', 'work experience',
       'salary', 'sales'],
      dtype='object')

In [ ]:
data['division'].unique()

array(['peripherals', 'office supplies', 'printers', 'computer software',
       'computer hardware'], dtype=object)

In [ ]:
data['division'].value_counts()

office supplies      262
peripherals          256
printers             239
computer hardware    163
computer software     80
Name: division, dtype: int64

In [ ]:
data["division"]=data["division"].map({"office supplies":0,"peripherals":1,"printers":2,"computer hardware":3,"computer software":4})

In [ ]:
data["level of education"].unique()

array(["associate's degree", 'high school', 'some college',
       "bachelor's degree", "master's degree"], dtype=object)

In [ ]:
data["level of education"].value_counts()

associate's degree    429
some college          374
bachelor's degree      99
high school            94
master's degree         4
Name: level of education, dtype: int64

In [ ]:
data["level of education"]=data["level of education"].map({"associate's degree":0,"some college":1,"bachelor's degree":2,"high school":3,"master's degree":4})

In [ ]:
data

,division,level of education,training level,work experience,salary,sales
0,1,0,1,2,66790,193711
1,0,3,0,4,63143,200167
2,2,0,0,6,86480,274258
3,4,0,2,5,103573,358491
4,3,1,1,2,72166,216003
...,...,...,...,...,...,...
995,4,0,0,3,80539,179264
996,1,0,2,7,91699,353306
997,3,0,0,6,92167,229316
998,0,0,0,11,98525,385250
999,2,1,1,4,74691,265768

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
model=LinearRegression()

In [ ]:
X=data.drop("sales",axis=1)

In [ ]:
X

     division  level of education  training level  work experience  salary
0           1                   0               1                2   66790
1           0                   3               0                4   63143
2           2                   0               0                6   86480
3           4                   0               2                5  103573
4           3                   1               1                2   72166
..        ...                 ...             ...              ...     ...
995         4                   0               0                3   80539
996         1                   0               2                7   91699
997         3                   0               0                6   92167
998         0                   0               0               11   98525
999         2                   1               1                4   74691

[1000 rows x 5 columns]

In [ ]:
y=data["sales"]

In [ ]:
y

0      193711
1      200167
2      274258
3      358491
4      216003
        ...
995    179264
996    353306
997    229316
998    385250
999    265768
Name: sales, Length: 1000, dtype: int64

In [ ]:
X.shape,y.shape

((1000, 5), (1000,))

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,shuffle=True)

In [ ]:
X_train.shape,y_train.shape,X_test.shape,y_test.shape

((700, 5), (700,), (300, 5), (300,))

In [ ]:
model.fit(X_train,y_train)

LinearRegression()

In [ ]:
predictions= model.predict(X_test)

In [ ]:
from sklearn.metrics import r2_score

In [ ]:
r2_score(y_test,predictions)

0.9404005364527075

In [ ]:
import numpy as np

In [ ]:
p=pd.DataFrame(np.c_[predictions,y_test],columns=['Predicted Sales','Actual Sales'])

In [ ]:
p

     Predicted Sales  Actual Sales
0      286734.825838      244072.0
1      289895.697355      255611.0
2      486372.024600      467086.0
3      239851.391209      206102.0
4      300670.258824      335582.0
..               ...           ...
295    395641.470404      430108.0
296    440177.606872      473612.0
297    341596.062357      334659.0
298    275650.466911      271975.0
299    232975.366684      232225.0

[300 rows x 2 columns]